<body>
  <app-go-back></app-go-back>
  <div id="contenedor">
    <div id="central">
      <div id="login">
        <div class="titulo">Crear Cuenta</div>
        <form id="registroform">
          <input type="text" name="usuario" placeholder="Usuario" required>
          <input type="email" name="email" placeholder="Correo Electrónico" required>
          <input type="password" name="password" placeholder="Contraseña" required>
          <button type="submit" title="Registrarse" routerLink="/login" name="Registrarse">Registrarse</button>
        </form>
        <div class="pie-form">
          <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
      </div>
    </div>
  </div>
</body>
