<body>
    <app-go-back></app-go-back>
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Restablecer Contraseña
                </div>
                <form id="resetform" action="http://localhost:3001/reset-password" method="POST">
                    <input type="email" name="email" placeholder="Correo electrónico" required>
                    <input type="password" name="newPassword" placeholder="Nueva Contraseña" required>
                    <button class="bi bi-arrow-right" type="submit" title="Restablecer" name="Restablecer">
                    </button>
                </form>
                <div class="pie-form">
                    <a routerLink="/login">Volver al Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
