<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>
    <div id="contenedor">
        <h1 class="welcome-title">Welcome!</h1>
        <div class="image-container">
            <img src="Hands Show.png" alt="Descripción de la imagen">
        </div>
        <div class="image-text-container">
            <img src="Big Shoes Torso.png" alt="Descripción de la imagen">
            <p class="role-text">Pick your role!</p>
        </div>
        <div class="button-container">
            <button class="button" routerLink="/admin" href="#">Admin</button>
            <button class="button" routerLink="/userlogin" href="#">User</button>
            <button class="button" routerLink="/librarian" href="#">Librarian</button>
        </div>
        <div class="text-below-buttons">
            <button  class="below-text" routerLink="/registro" href="#">Sign Up</button>
            <button class="below-text" routerLink="/reset" href="#">Forgot Password</button>
        </div>
    </div>
    <script>
        function openPage(pageUrl) {
            window.location.href = pageUrl;
        }
    </script>
</body>
</html>