<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Page</title>
</head>
<body>
    <div id="contenedor">
        <div class="form-container">
            <input type="email" class="input-field" placeholder="User@gmail.com">
            <input type="password" class="input-field" placeholder="*******">
            <div class="button-container">
                <span class="login-text">Log in</span>
                <button class="circle-button" routerLink="/home" href="#">></button>
            </div>
            <div class="text-below-buttons">
                <button  class="below-text" routerLink="/registro" href="#">Sign Up</button>
                <button class="below-text" routerLink="/reset" href="#">Forgot Password</button>
            </div>
        </div>
    </div>
</body>
</html>