

    <div class="container">
        <header>
            <app-go-back></app-go-back>
            <h1>Loan list</h1>
        </header>
        <div class="loan-list">
            <div class="loan-item">
                <img src="padre-rico.jpg" alt="Padre Rico Padre Pobre">
                <div class="loan-details">
                    <h2>Padre Rico Padre Pobre</h2>
                    <p><span class="rating">★ 9.5</span> | Action</p>
                    <p>2019 | 816 Pages</p>
                </div>
            </div>
            <div class="loan-item">
                <img src="ley-hombre.jpg" alt="La ley del más Hombre">
                <div class="loan-details">
                    <h2>La ley del más Hombre</h2>
                    <p><span class="rating">★ 8.5</span> | Action</p>
                    <p>2021 | 342 Pages</p>
                </div>
            </div>
        </div>
        <app-nav></app-nav>
    </div>

