<app-search></app-search>
<section class="book-section">

    <div class="book-grid">
        <!-- Libros con sus portadas -->
        <div class="book-item">
            <a routerLink="/bookdetail" href="#">
                <img src="gabriel-garcia.jpg" alt="Cien años de soledad" class="book-cover">
            </a>
            <a routerLink="/bookdetail" href="#">Cien años de soledad</a>
        </div>
        <div class="book-item">
            <a href="">
                <img src="harry-potter.jpg" alt="Harry Potter" class="book-cover">
            </a>
            <a href="">Harry Potter</a>
        </div>
        <div class="book-item">
            <a href=""><img src="ana-frank.jpg" class="book-cover">
            </a>
            <a href="">El Diario de Ana Frank</a>
        </div>
        <div class="book-item">
            <a href="">
                <img src="historias-de-edad.jpg" alt="Historias de Edad" class="book-cover">
            </a>
            <a href="">Historias de Edad</a>
        </div>
        <div class="book-item">
            <a href="">
                <img src="dracula.jpg" alt="Drácula" class="book-cover">
            </a>
            <a href="">Drácula</a>
        </div>
        <div class="book-item">
            <a href="">
                <img src="el-amor.jpg" alt="El amor en los tiempos del cólera" class="book-cover">
            </a>
            <a href="">El amor en los tiempos del cólera</a>
        </div>
    </div>
</section>
<app-nav></app-nav>