<header class="top-bar">
    <header class="top-bar">
        <h1>What do you want to read?</h1>
        <div class="search-container">
            <input type="text" placeholder="Search" class="search-bar" list="book-titles">
            <datalist id="book-titles">
                <option value="Cien años de soledad"></option>
                <option value="Harry Potter"></option>
                <option value="El Diario de Ana Frank"></option>
                <option value="Historias de Edad"></option>
                <option value="Drácula"></option>
                <option value="El amor en los tiempos del cólera"></option>
            </datalist>
            <button class="search-button">🔍</button>
        </div>
    </header>
</header>