<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div>
            <label for="mail">Email</label>
            <input id="mail" formControlName="mail" type="mail">
            <div *ngIf="loginForm.get('mail')?.invalid && loginForm.get('mail')?.touched">
                <small>Email inválido</small>
            </div>
        </div>

        <div>
            <label for="contrasena">Password</label>
            <input id="contrasena" formControlName="contrasena" type="password">
            <div *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched">
                <small>La contraseña es requerida</small>
            </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>

        <div class="text-below-buttons">
            <button class="below-text" routerLink="/registro">Sign Up</button>
            <button class="below-text" routerLink="/reset">Forgot Password</button>
        </div>
    </form>
</div>
